*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: darkred;
}

nav .app-title{
    margin-left: 100px;
    padding: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li{
    font-size: 16px;
    padding: 5px;
    margin: 5px 20px 5px 20px;
}

a, a:visited, a:hover, a:active, a:before{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > *{
    margin: 10px 40px 10px 40px;
    padding: 10px;
}

.title{
    background: darkred;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

.container-select{
    background: rgba(128, 128, 128, 0.2);
}

.container-select .desc{
    margin-bottom: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

select{
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.send-button{
    background: darkred;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.container-driver{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.driver-card{
    padding: 20px 40px 20px 40px;
    background: rgba(128, 128, 128, 0.5);
    box-shadow: 5px 5px 5px 5px grey, -5px -5px 5px 5px grey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.column{
    min-height: 200px;
    min-width: 300px;
    margin: 6px 28px 6px 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.driver-img img{
    height: 280px;
}

.driver-info, .driver-achievements{
    font-size: 23px;
    font-weight: bold;
    width: 300px;
}

.driver-info > *, .driver-achievements > * {
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}